/*   Estilo da main   */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

/*   Estilo da propaganda   */

.propaganda-container{
    background-image: url(../img/propaganda.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding-top: 30px;
    padding-bottom: 10vh;
}

.propaganda{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

.propaganda h1{
    font-size: 4rem;
    margin: 0;
}

.propaganda h2{
    margin: 0;
    font-size: 2.5rem;
}

.propaganda p{
    font-size: 1.5rem;
}

.propaganda span{
    color: #ee0653;
    font-weight: bold;  
}

.propaganda button{
    padding: 15px;
    border-radius: 30px;
    border: none;
    background-color: rgb(255, 68, 68);
    cursor: pointer;
    transition: 0.4s;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    display: flex;
    align-items: center;
    i{
        margin-left: 5px;
        font-size: 1.5rem;
    }
}


.propaganda button:hover{
    background-color: #242323;
    color: rgb(241, 139, 139);
    transform: scale(1.1);
}

.faixa{
    background-color: #242323;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    gap: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/*   Estilo dos serviços   */

.servico-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
    flex-wrap: wrap;
}

.card {
    position: relative;
    background: rgb(33,33,33);
    background: linear-gradient(86deg, rgba(33,33,33,1) 0%, rgba(56,56,56,1) 64%, rgba(47,47,47,1) 82%);
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    width: 23rem;
    border-radius: 1rem;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
  }

  .title span{
    transition: all 0.3s;
  }
  
  .card:hover{
    transform: scale(1.1);
    .image_container img{
        opacity: 0.1;
    }
    .title span{
        opacity: 0.2;
    }
  }

  .image_container{
    position: relative;
    width: 100%;
}

.image_container img {
    width: 100%;
    height: 15rem;
    border-radius: 0.5rem;
    transition: all 0.3s;
}

.content-details{
    position: absolute;
    color: white;
    font-size: 17px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}

.content-details{
    p{
        font-size: 13px;
        text-decoration: underline;
        cursor: pointer;
        color: #ee0653;      
    }
    p:hover{
        transform: scale(10rem);
        cursor: pointer;    
    }
}

  .title {
    width: 100%;
  
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    text-wrap: nowrap;
  }
  

/*   Estilo do modal de servicos   */

.modal{
    height: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    z-index: 1;
    transition: all 0.3s;
    overflow: hidden;
}

.modal-content{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #242323;
    border-radius: 30px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    img{
        border-radius: 60px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        height: 30vh;
        width: fit-content;
    }
    .modal-text{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

.modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: fit-content;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}

.modal::-webkit-scrollbar{
    display: none;
}

/*   Estilo do sobre   */

.sobre-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(221, 221, 221);
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}


.sobre{
    width: 60%;
    height: 100%;
    display: flex;
    gap: 100px;
    font-size: large;
}

.sobre p{
    text-align: justify;
}

.sobre-img img{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*   Estilo da localização   */

.localizacao-container{
    width: 80%;
    padding-bottom: 40px;
}

.localizacao{
    font-size: 25px;
    text-align: center;
}

/* Estilos para telas menores */

@media screen and (max-width: 1600px) {
    .sobre-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgb(221, 221, 221);
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .sobre{

        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        font-size: large;

        .sobre-img{
            display: flex;
            justify-content: center;
            img{
                height: 40%;
            }
        }

        .sobre-texto{
            margin: auto;
            display: flex;
            width: 95%;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 1024px) {
    .modal-content{
        overflow-y: scroll;
        overflow-x: hidden;
        height: fit-content;
        width: 80vw;
        padding: 15px;
        img{
            width: 80%;
            height: fit-content;
        }
    }
}

@media screen and (max-width: 768px) {
    .propaganda h1{
        font-size: 2rem;
    }

    .propaganda h2{
        font-size: 1.5rem;
    }

    .propaganda p{
        font-size: 1rem;
    }

    .propaganda button{
        font-size: 0.8rem;
    }

    .faixa{
        background-color: #242323;
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        gap: 1rem;
        font-size: 0.8rem;
    }

    .faixa h2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .modal-content img{
        display: none;
    }

    .sobre{

        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        font-size: large;

        .sobre-img{
            display: flex;
            justify-content: center;
            img{
                width: 80%;
                border-radius: 10px;
            }
        }
    }
    
}

@media screen and (max-width: 380px) {
    .faixa{
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 400px){
    .card{
        width: 100%;
        margin: 0;
    }
    .image_container img{
        height: 100%;
    }
    .content-details{
        p{
            width: 90%;
        }
    }
}

@media screen and (max-height: 700px){
    .modal-content{
        overflow-y: scroll;
        overflow-x: hidden;
        height: fit-content;
        width: 80vw;
        padding: 15px;
        img{
            display: none;
        }
    }
}