/*   Estilo da main   */

main{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*   Estilo da propaganda   */

.propaganda-container{
    background-image: url(../img/propaganda.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding-top: 30px;
    padding-bottom: 10vh;
}

.propaganda{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

.propaganda h1{
    font-size: 4rem;
    margin: 0;
}

.propaganda h2{
    margin: 0;
    font-size: 2.5rem;
}

.propaganda p{
    font-size: 1.5rem;
    margin-top: 10px;
}

.propaganda span{
    color: #ee0653;
    font-weight: bold;  
}

.propaganda button{
    padding: 15px;
    border-radius: 30px;
    border: none;
    background-color: rgb(255, 68, 68);
    cursor: pointer;
    transition: 0.4s;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    display: flex;
    align-items: center;
    margin-top: 20px;
    i{
        margin-left: 5px;
        font-size: 1.5rem;
    }
}


.propaganda button:hover{
    background-color: #242323;
    color: rgb(241, 139, 139);
    transform: scale(1.1);
}

.faixa{
    background-color: #242323;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    gap: 5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 0.8rem;
}

/*   Estilo dos servicos   */

.servicos-container{
    font-size: 22px;
    text-align: center;
    flex-direction: column;
    padding: 2rem;
}

.container-cards{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*   Estilo do sobre nos   */

.sobre-container{
    position: relative;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 3rem 0
}
    

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/home/background-about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(40%);
}

.textos-sobre{
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    text-align: left;
    padding: 3rem;
    width: 1200px;
    justify-content: space-between;
    gap: 10rem;
}
.title-sobre h1{
    font-size: 2.5rem;
    font-weight: bold;
}
.title-sobre span{
    font-size: 2.5rem;
    font-weight: bold;
}
span{
    color: #e6004d;
}

.coluna-sobre p {
    text-align: justify;
    font-size: 1rem;
    width: 600px;
}

.title-sobre{
    display: flex;
    flex-direction: column;
}

.subtitle-sobre{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.vertical-hr{
    border-left: 5px solid #ee0653;; /* Define a espessura e a cor da linha */
    height: 100px; /* Define a altura da linha */
    margin: 0 0px;
    padding: 0 5px;
}

.topicos-sobre{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 1rem;
}
.topicos-sobre div{
    display: flex;
    gap: 0.5rem 1rem;
}
.topicos-sobre .icon{
    align-items: center;
}

.topicos-sobre .icon{
    font-size: 4rem;
    color: #ee0653;;
}
.topicos-sobre h1{
    font-size: 1rem;
}
.textinhos{
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: flex-start;
}
.textinhos p, li{
    font-size: 0.8rem;
}

.quem-somos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.quem-somos span{
    font-size: 1.5rem;
    font-weight: bold;
}

/*   Estilo da localizacao   */

.localizacao-container{
    width: 100%;
    padding-bottom: 40px;
    margin-top: 40px;
}

.localizacao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    text-align: center;
}

/*   Estilo para contatos   */
.contato-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #DDDDDD;
    width: 100%;

}
.contato{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 1300px;
    gap: 6rem;
    padding: 3rem;

}

.contato-imagem img{
    max-width: 600px;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.contato hr{
    border: 2px solid #b5053f;
    margin-bottom: 20px;
}
.contato-texto span{
    font-weight: bold;
    color: #b5053f;
}
.contato-texto a{
    text-decoration: underline;
    text-decoration-color: #b5053f;
    text-decoration-thickness: 1.5px;
    color: black;
    transition: all 0.3s;
}
.contato-texto a:hover{
    color: #b5053f;
}

/*testimonials*/


.testimonials-container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-color: #242323;
}

.testimonials-container h1{
    font-size: 3rem;
    color: white;
    margin-top: 2rem;
}

.testimonials-container h3{
    font-size: 1.5rem;
    color: white;
}

.cards-testimonials{
    text-align: center;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 2rem;
    margin-bottom: 2rem;
}

.snip1533 {
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    color: #9e9e9e;
    display: inline-block;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    margin: 35px 10px 10px;
    max-width: 310px;
    min-width: 250px;
    max-height: 227px;
    position: relative;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    border-top: 5px solid #ee0653;
    text-wrap: 3;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-box-shadow: 0px -10px 22px -10px rgba(238, 6, 83, 0.9);
    -moz-box-shadow: 0px -10px 22px -10px rgba(238, 6, 83, 0.9);
    box-shadow: 0px -10px 22px -10px rgba(238, 6, 83, 0.9);
    transition: all 0.3s;
  }
  
  .snip1533:hover{
    -webkit-box-shadow: 0px -29px 90px -29px rgba(238, 6, 83, 0.9);
    -moz-box-shadow: 0px -29px 90px -29px rgba(238, 6, 83, 0.9);
    box-shadow: 0px -29px 90px -29px rgba(238, 6, 83, 0.9);
    transform: scale(1.05);    

  }

  .snip1533 .icon {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -60%);
    background-color: #3c3c3c;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .snip1533 .icon i {
    font-size: 25px;
    line-height: 80px;
  }

  .snip1533 figcaption {
    padding: 13% 10% 12%;
  }
  
  .snip1533 h3 {
    color: #3c3c3c;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin: 10px 0 5px;
  }
  
  .snip1533 h4 {
    font-weight: 400;
    margin: 0;
    opacity: 0.5;
  }

  .snip1533 p{
    max-height: 70px;
    margin-bottom: 40px;
  }
  
  .snip1533 blockquote {
    font-style: italic;
    font-weight: 300;
    margin: 0 0 20px;
  }


/* Estilos para telas menores */

@media screen and (max-width: 1600px) {
    .sobre-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgb(221, 221, 221);
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .sobre{

        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        font-size: large;

        .sobre-img{
            display: flex;
            justify-content: center;
            img{
                height: 40%;
            }
        }

        .sobre-texto{
            margin: auto;
            display: flex;
            width: 95%;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 1024px) {
    .contato-imagem img{
        max-width: 400px;
        border-radius: 2rem;

    }
}

@media screen and (max-width: 835px) {
    .contato{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        gap: 1rem;
        padding: 1rem;
    }
    .contato-texto{
        width: 80%;
        margin: auto;
    }
    .contato-imagem{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .propaganda h1{
        font-size: 2rem;
    }

    .propaganda h2{
        font-size: 1.5rem;
    }

    .propaganda p{
        font-size: 1rem;
    }

    .propaganda button{
        font-size: 0.8rem;
    }

    .faixa{
        background-color: #242323;
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        gap: 1rem;
        font-size: 0.7rem;
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
    }

    .faixa h2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .sobre{

        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        font-size: large;

        .sobre-img{
            display: flex;
            justify-content: center;
            img{
                width: 80%;
                border-radius: 10px;
            }
        }
    }
    
}

@media screen and (max-width: 380px) {
    .faixa{
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 400px){
    .card{
        width: 100%;
        margin: 0;
    }
    .image_container img{
        height: 100%;
    }
    .content-details{
        p{
            width: 90%;
        }
    }
}

@media screen and (max-width: 700px){
    .cards-testimonials{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        display: grid;
        place-items: center;
    }
    .second{
        display: none;
    }
    .snip1533{
        max-width: 80%;
    }
    iframe{
        width: 95%;
    }
}

@media screen and (max-width: 1150px){
    .coluna-sobre p{
        width: 70%;
    }
    .textos-sobre{
        width: 100%;
        flex-direction: column;
        gap: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }   

    .coluna-sobre{
        margin: 0;
        padding: 0;
    }
    .quem-somos{
        background-color: #242323;
        border-radius: 1rem;
        padding: 1rem;
        width: 95%;
    }
}

@media screen and (max-width: 800px){
    .coluna-sobre p{
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    .coluna-sobre{
        margin: 0;
        padding: 20px;
    }
    .textos-sobre{
        margin: 0;
        padding: 0;
        gap: 1rem;
    }
    .testimonials-container h1{
        font-size: 1.7rem;
    }
    .testimonials-container h3{
        font-size: 1.3rem;
    }
}